<phpunit bootstrap="../../autoload.php" colors="true">
    <testsuites>
        <testsuite name="ZFDeviceDetector tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
